<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.himalaya.auth.repository.RoleMapper">
   <resultMap id="BaseResultMap" type="com.himalaya.auth.domain.RoleDO">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
  </resultMap>

  <sql id="Base_Column_List">
    ID, ROLE_NAME, STATUS, CREATE_TIME, MODIFY_TIME, DESCRIPTION
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_cs_role
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_cs_role
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.himalaya.auth.domain.RoleDO">
    insert into tb_cs_role (ID, ROLE_NAME, STATUS, 
      CREATE_TIME, MODIFY_TIME, DESCRIPTION
      )
    values (#{id,jdbcType=BIGINT}, #{roleName,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.himalaya.auth.domain.RoleDO">
    insert into tb_cs_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="roleName != null">
        ROLE_NAME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.himalaya.auth.domain.RoleDO">
    update tb_cs_role
    <set>
      <if test="roleName != null">
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.himalaya.auth.domain.RoleDO">
    update tb_cs_role
    set ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      DESCRIPTION = #{description,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="listRoleByUsername" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_cs_role
    where ID = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="listRoleNameByAppKey" parameterType="java.lang.String" resultType="String">
  	SELECT
  		R.ROLE_NAME
  	  FROM TB_CS_USER U, TB_CS_ROLE R, TB_CS_USER_ROLE UR
	 WHERE U.ID = UR.USER_ID
	   AND R.ID = UR.ROLE_ID
	   AND U.APP_KEY = #{appKey}
  </select>

  <select id="listRoleNameByPermissionId" parameterType="java.lang.Long" resultType="String">
    SELECT R.ROLE_NAME AS PERMISSION_URL FROM TB_CS_ROLE R, TB_CS_ROLE_PERMISSION RP, TB_CS_PERMISSION P
    WHERE R.ID = RP.ROLE_ID
    AND P.ID = RP.PERMISSION_ID
    AND P.ID = #{permissionId}
  </select>

</mapper>