<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.himalaya.auth.repository.UserMapper">
  <resultMap id="BaseResultMap" type="com.himalaya.auth.domain.UserDO">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="APP_ID" jdbcType="VARCHAR" property="appId" />
    <result column="APP_KEY" jdbcType="VARCHAR" property="appKey" />
    <result column="APP_SECRET" jdbcType="VARCHAR" property="appSecret" />
    <result column="BILLING_TYPE_ID" jdbcType="BIGINT" property="billingTypeId" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, APP_ID, APP_KEY, APP_SECRET, BILLING_TYPE_ID, STATUS, CREATE_TIME, MODIFY_TIME, 
    DESCRIPTION
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_cs_user
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_cs_user
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.himalaya.auth.domain.UserDO">
    insert into tb_cs_user (ID, APP_ID, APP_KEY, 
      APP_SECRET, BILLING_TYPE_ID, STATUS, 
      CREATE_TIME, MODIFY_TIME, DESCRIPTION
      )
    values (#{id,jdbcType=BIGINT}, #{appId,jdbcType=VARCHAR}, #{appKey,jdbcType=VARCHAR}, 
      #{appSecret,jdbcType=VARCHAR}, #{billingTypeId,jdbcType=BIGINT}, #{status,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.himalaya.auth.domain.UserDO">
    insert into tb_cs_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="appId != null">
        APP_ID,
      </if>
      <if test="appKey != null">
        APP_KEY,
      </if>
      <if test="appSecret != null">
        APP_SECRET,
      </if>
      <if test="billingTypeId != null">
        BILLING_TYPE_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appKey != null">
        #{appKey,jdbcType=VARCHAR},
      </if>
      <if test="appSecret != null">
        #{appSecret,jdbcType=VARCHAR},
      </if>
      <if test="billingTypeId != null">
        #{billingTypeId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.himalaya.auth.domain.UserDO">
    update tb_cs_user
    <set>
      <if test="appId != null">
        APP_ID = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appKey != null">
        APP_KEY = #{appKey,jdbcType=VARCHAR},
      </if>
      <if test="appSecret != null">
        APP_SECRET = #{appSecret,jdbcType=VARCHAR},
      </if>
      <if test="billingTypeId != null">
        BILLING_TYPE_ID = #{billingTypeId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.himalaya.auth.domain.UserDO">
    update tb_cs_user
    set APP_ID = #{appId,jdbcType=VARCHAR},
      APP_KEY = #{appKey,jdbcType=VARCHAR},
      APP_SECRET = #{appSecret,jdbcType=VARCHAR},
      BILLING_TYPE_ID = #{billingTypeId,jdbcType=BIGINT},
      STATUS = #{status,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      DESCRIPTION = #{description,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectUserByAppId" parameterType="java.lang.String" resultMap="BaseResultMap">

    select
      <include refid="Base_Column_List"/>
      from tb_cs_user
     where APP_ID = #{appId}
  </select>
</mapper>